body {
	font-family: Arial, Helvetica, sans-serif;
	Margin:0px
}
#menu
{
	position: fixed;
	width: 100%;
	height: 70px;
}
.h1 {

	color: rgb(91, 86, 86);
	text-align: center;
	font-size: 35px;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
}	
.h1::before, .h1::after {
	content: "";
	flex: 1 1;
	border-bottom: 3px solid rgb(11, 105, 120);
	margin: auto;
}
/* Add a black background color to the top navigation */
.topnav {
	background-color:rgb(91, 86, 86);
	overflow: hidden;

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	float: left;
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
	font-size: 25px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	background-color: #171717;
	color: rgb(255, 255, 255);
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
	background-color: rgb(181, 27, 27);
	color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
	display: none;
  }
  .center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
  }
  img{
	max-width: 100%;
	max-height: 100%;
	display: block; /* remove extra space below image */
}
img.resize {
	max-width:30%;
	max-height:30%;
	display: block; /* remove extra space below image */

  }
.wrapper{
	background: rgb(140, 192, 214);
  }
  .section{
	text-align: center;
  }
  table {
	border-collapse: collapse;
  }
  
  table, th, td {
	border: 3px solid rgb(11, 105, 120);
  }


  
